github3.py
flask-appbuilder
pygments
# Possible need to execute 'pip3 install --upgrade tensorflow' on Windows.
# On Windows 7 wants "Microsoft Visual C++ 2015 Redistributable Update 3" (will show in log).
tensorflow==2.5.3