{% from "macros.html" import poll with context %}
{% from "macros.html" import log with context %}
<style>.navbar-inverse span.navbar-brand a{ color:#FFFFFF; }</style>{# fix for custom themes - app title color is equal to background #}
{% extends "appbuilder/base.html" %}
{% block body %}
    {{ super() }}
    <div class="container">
    <form id="fetch_form" action="/fetch" method="post" role="form">
        <input id="number" name="number" type="number" value="20">&nbsp;'-1' means "all"&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit">Fetch pull requests from repository</button>
    </form>
    <script>
        $("#fetch_form").submit(function(e) {
            console.log("prevent fetch_form")
            $.ajax({
                type: "POST",
                url: "/fetch",
                data: $("#fetch_form").serialize(), // Serializes the form's elements.
                success: function(data) {
                    //startLog('/fetch/log', '/raw_comments')
                    startLog('/fetch/log')
                },
                error: function(error) {
                    console.log(error);
                    alert(error);
                }
            });
            e.preventDefault(); // Don't execute the actual submit of the form.
        });
    </script>
    <form id="analyze_form" action="/analyze" method="post">
        Raw Comments count (-1 for all):<input id="analyze_count" name="count" type="number" value="20">
        Pull Request (-1 to analyze raw comments)<input id="analyze_pr" name="pr" type="number" value="-1">
        <button name="analyzeButton" type="submit">Analyze</button> NOTE that previous data (CSV files) will be overwritten)
    </form>
    <script>
        $("#analyze_form").submit(function(e) {
            console.log("prevent analyze_form")
            $.ajax({
                type: "POST",
                url: "/analyze",
                data: $("#analyze_form").serialize(), // Serializes the form's elements.
                success: function(data) {
                    startLog('/analyze/log')
                },
                error: function(error) {
                    console.log(error);
                    alert(error);
                }
            });
            e.preventDefault(); // Don't execute the actual submit of the form.
        });
    </script>
    <form id="train_form" action="/train" method="post">
        ? Raw Comments count (-1 for all):<input id="train_count" name="count" type="number" value="20">
        ? Pull Request (-1 to analyze raw comments)<input id="train_pr" name="pr" type="number" value="-1">&nbsp;&nbsp;&nbsp;
        <button name="trainButton" type="submit">Train</button> TODO: complete (it is analyze + train model, always all, exports model)
    </form>
    <script>
        $("#train_form").submit(function(e) {
            console.log("prevent train_form")
            $.ajax({
                type: "POST",
                url: "/train",
                data: $("#train_form").serialize(), // Serializes the form's elements.
                success: function(data) {
                    startLog('/train/log')
                },
                error: function(error) {
                    console.log(error);
                    alert(error);
                }
            });
            e.preventDefault(); // Don't execute the actual submit of the form.
        });
    </script>
    <form id="open_pr" action="/pr" method="post" role="form">
        <input name="number" type="number" value="1301">&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit">Fetch and parse specified pull request</button>
    </form>
    {{ poll() }}
    {{ log() }}
    </div>
{% endblock %}