{% macro nav_link(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="active"><a href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% else %}
    <li><a href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% endif %}
{% endmacro %}


// https://gist.github.com/kerimdzhanov/f6f0d2b2a57720426211
{% macro poll() %}
<script>
function poll(url, intervalMs, onMessage, noDataRedirect) {
  var xhr = new XMLHttpRequest();

  xhr.onreadystatechange = function() {
    if (this.readyState != 4) return;

    if (this.status == 200) {
      if (this.responseText != "EOF") {
        onMessage(this.responseText);
        setTimeout(poll, intervalMs, url, intervalMs, onMessage, noDataRedirect)
      } else if (noDataRedirect) {
        document.location.href = noDataRedirect;
      }
    } else {
      onMessage("CANNOT GET PROGRESS FROM SERVER (url=" + url + ")");
    }
  }
  xhr.open("GET", url, true);
  xhr.send();
}
</script>
{% endmacro %}


{% macro log() %}
<script>
function startLog(fromUrl, endDataRedirect) {
  poll(fromUrl, 1000, function(line) {
    var terminal = document.getElementById('logarea');
    terminal.appendChild(document.createTextNode(line));
    terminal.scrollTop = terminal.scrollHeight;
  }, endDataRedirect);
}
</script>
<pre id="logarea" style="border: 1px solid grey; width:100%; height: 400px;"></pre>
{% endmacro %}